$color-red: #f40606;
$color-gray: #afb0b7;
$border-color: #dde3e8;
$color-dark-gray: #6e6d7a;
$color-blue: #4353ff;
$color-green: #63c694;
$color-amber: #fcbd59;
$color-purple: #9900ff;
$color-pink: #f074a2;
$color-light-gray: #f4f5f7;
$color-orange: #fb501e;

// Brand colors
$brand-dark: #1d1d1f;
